AEMET_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwYXRyaWNpYWRjbEBnbWFpbC5jb20iLCJqdGkiOiI3MGU3ZjQ5Yy05ZGY1LTQ3ZDEtYTViMy05YjBmOWJhNDFkMmMiLCJleHAiOjE0OTY5MzQxNjMsImlzcyI6IkFFTUVUIiwiaWF0IjoxNDg5MTU4MTYzLCJ1c2VySWQiOiI3MGU3ZjQ5Yy05ZGY1LTQ3ZDEtYTViMy05YjBmOWJhNDFkMmMiLCJyb2xlIjoiIn0.qyhEVJ3tiUyq7UzDRHmXGHS8IcxzZoej1V3KnSN9XpU